@use "../abstracts" as *;

body > header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.30rem calc(7vw - 3rem) 5.25rem 7vw;
  max-width: calc(1240px + 3rem);

  @include mobile {
    margin: 2.30rem 1.80rem 1.75rem 1.80rem;
    max-width: 1240px;

    &.responsive .navbar {
        display: block;
    }
  }
}

.navbar {
  background: $white;
  border-radius:0.5rem;
  @include mobile {
    display: none;
    position: absolute;
    top: 2.6rem;
    right: 0;
    z-index: 10;
    padding: 0.25rem 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  ul {
    display: flex;
    gap: 0.75rem;

    @include mobile {
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  &__link {
    display: block;
    position: relative;
    color: $black;
    padding: 0.563rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    white-space: nowrap;

    &:hover, &.active {
      background-color: $primary;
      color: $white;
      border-radius: 0.5rem;

      @include mobile {
        border-radius: 0;
      }
    }

    &.active::after {
      content: "";
      position: absolute;
      left: 0.5rem;
      right: 0.5rem;
      bottom: 0.5rem;
      height: 1px;
      background-color: $white;

      @include mobile {
        content: none;
      }
    }
  }

  &__menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    i {
      font-size: 1.5rem;
      color: $primary;
    }

    @include mobile {
      display: block;
    }
  }
}