/**
 * Colors
 */
/**
 * Animations
 */
:root {
  --modal-animation-duration: 800ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

main {
  margin: 0 7vw;
}
@media only screen and (max-width: 1080px) {
  main {
    margin: 0 1.8rem;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

.btn-primary {
  display: flex;
  background: #fe142f;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0;
}
.btn-primary:hover {
  background: #3876ac;
}

.formData {
  position: relative;
  padding-bottom: 1.5rem;
}

.error-message {
  font-size: 0.825rem;
  color: #e54858;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: none;
}
.error-message.fade-in {
  display: flex;
  animation: fade-in 300ms ease-in forwards;
}
.error-message.fade-out {
  animation: fade-out 300ms ease-out forwards;
}

.text-control {
  border: 2px solid #232323;
}
.text-control:focus {
  border-color: #279e7a;
}
.text-control.error {
  border-color: #e54858;
}

.sign-up-btn, .modal-success-btn {
  font-size: 1.063rem;
  padding: 0.8rem 3.5rem;
  margin: 1.21rem auto 0;
}
@media only screen and (max-width: 768px) {
  .sign-up-btn, .modal-success-btn {
    padding: 0.4rem 2.22rem;
    margin: 0.97rem auto 1.31rem;
  }
}

.overlay {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  background: #232323;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 3.07rem 2.43rem 1.07rem 2.43rem;
  opacity: 0;
  transform: translateY(-150px);
  transition: transform 800ms, opacity 800ms;
}
@media only screen and (max-width: 768px) {
  .content {
    padding: 2.38rem 1.88rem 1.31rem 1.88rem;
  }
}

.overlay.show .content {
  opacity: 1;
  transform: translateY(0);
}

.modal-body {
  position: relative;
}

label, .text-label {
  font-size: 1.063rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0.688rem;
}

input {
  padding: 0.5rem;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 8px;
  font-size: 1.25rem;
  height: 3rem;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 1rem;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.inscription-form {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.inscription-form.fade-out {
  opacity: 0;
}

.success-container {
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.success-container.fade-in {
  display: flex;
  animation: fade-in 0.5s ease-in forwards;
}

.success-message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success-message__text {
  font-size: 2.25rem;
  text-align: center;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 1.25rem;
}
footer .copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 6.375rem 0 1.875rem;
  font-weight: bolder;
}
@media only screen and (max-width: 768px) {
  footer .copyrights {
    margin-top: 1.81rem;
    text-align: center;
    font-size: 0.625rem;
  }
}

body > header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.3rem calc(7vw - 3rem) 5.25rem 7vw;
}
@media only screen and (max-width: 1080px) {
  body > header {
    margin: 2.3rem 1.8rem 1.75rem 1.8rem;
  }
  body > header.responsive .navbar {
    display: block;
  }
}

.header__logo {
  display: flex;
}
.header__logo img {
  width: 17.3125rem;
}
@media only screen and (max-width: 768px) {
  .header__logo img {
    width: 12rem;
  }
}

.navbar {
  background: #fff;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1080px) {
  .navbar {
    display: none;
    position: absolute;
    top: 2.6rem;
    right: 0;
    z-index: 10;
    padding: 0.25rem 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }
}
.navbar ul {
  display: flex;
  gap: 0.75rem;
}
@media only screen and (max-width: 1080px) {
  .navbar ul {
    flex-direction: column;
    gap: 0.25rem;
  }
}
.navbar__link {
  display: block;
  position: relative;
  color: #000;
  padding: 0.563rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .navbar__link {
    font-size: 1rem;
  }
}
.navbar__link:hover, .navbar__link.active {
  background-color: #fe142f;
  color: #fff;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1080px) {
  .navbar__link:hover, .navbar__link.active {
    border-radius: 0;
  }
}
.navbar__link.active::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 1px;
  background-color: #fff;
}
@media only screen and (max-width: 1080px) {
  .navbar__link.active::after {
    content: none;
  }
}
.navbar__menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar__menu-btn i {
  font-size: 1.5rem;
  color: #fe142f;
}
@media only screen and (max-width: 1080px) {
  .navbar__menu-btn {
    display: block;
  }
}

img {
  padding-right: 1rem;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: #000;
  border-radius: 2rem;
  text-align: justify;
}

.modal-btn {
  font-size: 1.5625rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  margin: 3.688rem 0 0;
}

.hero-section {
  border-radius: 10px;
  display: flex;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 768px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
}
.hero-section > .modal-btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  .hero-section > .modal-btn {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
    font-size: 0.875rem;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 51px 67px;
  flex-basis: 33%;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}
.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}
.hero-content > * {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .hero-content {
    background: #fff;
    color: #000;
    padding: 0;
    min-width: unset;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .modal-btn {
    display: none;
  }
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}
@media only screen and (max-width: 1080px) {
  .hero-headline {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero-headline {
    font-size: 2.5rem;
    font-weight: 500;
    white-space: normal;
  }
}

.hero-text {
  width: 146%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .hero-text {
    width: unset;
    font-size: 0.8125rem;
    margin-top: 1.38rem;
  }
}

.hero-img {
  flex: 1;
}
.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
