/**
 * Colors
 */
$white: #fff;
$black: #000;
$primary: #fe142f;
$secondary: #279e7a;
$danger: #e54858;
$background: #232323;


$font: "DM Sans", Arial, Helvetica, sans-serif;

/**
 * Animations
 */
$modalAnimationDuration: 800ms;