* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1240px;
  margin: 0 7vw;
}

a {
  color: inherit;
  text-decoration: inherit;
}